<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="/">future upon review</a> -->
  <ul class="navbar-nav ml-auto">
    <% if(messages.logged_status == 'false'){ console.log("logged_status =",messages.logged_status)%>
    <li>
    <a class="nav-link" href="/login"> 
      Log in 
    </a> 
  </li>
    <%}else{ %>
      <form action="/users/logout" method="post"> 
         <li class="nav-item"><button class="nav-link" onClick=`${messages.logged_status = 'true'}`type="submit"> 
          Log out
             </button></form> 
            
              
              <%}%>
                </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">Sign up</a>
                </li>

  </ul>
</nav>