<p  >Future Upon Review is an effort to personalize reviewing by allowing the user to set the terms of reviewing and control its output. It is intended to make reviews more comparative by giving the user the ability to create a template to compare similar items head to head.</p>
<p  >The result that follows is a demonstration of these ideas in version 1.0 state.</p> 
<p> Future Upon Review was made using Reactjs, HTML, CSS, SCSS, Nodejs, Node-Express, EJS templating language and PostgreSQL and libraries including  Express-Sessions, React-Hook-Form, Tanstack React-Query, and React-Router-Dom. The initial page that I refer to as the Future Page was made using Material UI.</p>
<p  >This build is fully responsive to all size browsing devices and has color themes for Dark and Light browsing.<span style="color:red"> &iexcl;&iexcl;Currently it does not work in FireFox!!</span> The site page tab design was inspired by movie marquees.</p>
<p  >Planned improvements include:</p>
<p  >1) Increased accessibility through better focus flow, more user identifiable descriptors making use of semantics and WAI-ARIA roles and labels.</p>
<p  >2) In hand with priority (1) above will be a more thorough use of inline documentation.
<p  > 3) Activation of ‘Share’ icons so users can trade pre-formatted reviews on web and mobile media.</p>
<p  ></p><p  >4) The ability to add images to review display cards
</p>

