<!DOCTYPE html>
<html>

<head>

  <head>
    <%- include('./partials/head'); %>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Passport.js Tutorial</title>
</head>

<body style="display: grid;grid-template-columns: auto;">
  <h1>Sign up</h1>
  <div>
    <ul style="list-style: none;">
      <!-- Hard coding default values possibly because passport requires a 'message' property and will error -->
      <% if(typeof errors !='undefined' ){%>
        <% errors.forEach(error=>{ %>
          <li>
            <%= error.message %>
          </li>
          <% }) } %>
            <!-- Hard coding default values possibly because passport requires a 'message' property and will error -->
    </ul>
  </div>
  <form action="/users/signup" method="post">
    <div>
      <div style="display: flex;flex-direction: column;">

        <label for="name">Name: - min 4 characters</label>
        <input type="text" id="name" name="name" minlength="4" required>
      </div>
      <div>
        <div style="display: flex;flex-direction: column;">

          <label for="email">Email: </label>
          <input type="email" id="email" name="email" required>
        </div>
        <div style="display: flex;flex-direction: column;">
          <label for="password">Password: - min 6 characters</label>
          <input type="password"  autocomplete="current-password" id="password" name="password" minlength='6' required>
        </div>
        <div style"display: flex;flex-direction:row;">
          <input type="button" onclick="togglePw('')" style="width:1rem;height:1rem"> Show Password
        </div>
        <div>
          <div style="display: flex;flex-direction: column; margin-left: 0px;">
            <label for="password">Please re-enter Password:</label>
            <input type="password" id="password2" name="password2" required>
          </div>
          <div>
            <input type="submit" onclick="togglePw('password')" value="Sign-up">
          </div>
  </form>
  <div style="display: flex;flex-direction: row;">
    <a href="/future-self">Already regisered?&nbsp</a>

    <footer>
      <%- include('./partials/home_footer'); %>
    </footer>
  </div>
  <script>
    function togglePw(set) {
      let pw = document.getElementById("password");;
      if(set==='password')pw.type = "text"
      if (pw.type === "password") {
        pw.type = "text";
      } else {
        pw.type = "password";
      }
    }
    </script>
</body>

</html>