<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>A personal review app... </h1>
    <p>Created by Richard Haskell for web 3.0</p>
  </div>
  <%- include('../intro-text'); %>
</main>
<br /><br />
<footer>
  <%- include('../partials/footer'); %>
</footer>
<br /><br /><br />
<!-- <script>
  const visitsCount = document.getElementById('visits-count')
  if(sessionStorage.getItem('visit')=== null){
    updateCounter('type=visit-pageview')
  }

</script> -->
</body>
</html>