<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>A personal review app... </h1>
    <p>Created by Richard Haskell for web 3.0</p>
  </div>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam optio minima quos! Deserunt facere laudantium quod doloribus non neque, cum incidunt fugit, sequi sed possimus reiciendis tempore, inventore vero a?</p>
<!-- <script>
  const visitsCount = document.getElementById('visits-count')
  if(sessionStorage.getItem('visit')=== null){
    updateCounter('type=visit-pageview')
  }

</script> -->
</body>
</html>